html, body {
	height: 100%;
}

#menu {
	float: left;
	width: 200px;
	height: 100%;
	position: relative;
}

#content {
	float: left;
}

#timer {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 90px;
	font-family: monospace;
	text-align: center;
	padding: 15px;
}

#info {
	padding: 10px 10px 0;
	border-top: 1px solid #ccc;

	h4, p {
		margin-bottom: 5px;
	}
}

.thingy {
	position: absolute;
	display: none;
	width: 64px;
	height: 64px;
	background-position: (-64px*1) (-64px*1);

	&.planks {
		background-position: (-64px*2) (-64px*1);
	}
}

#toolbar {
	padding: 5px;
}

#info, #toolbar {
	li a {
		display: block;
		border: 1px solid #ccc;
		margin-bottom: 5px;
		padding: 5px;
		color: #333;
		text-decoration: none;

		&:hover {
			color: #000;
			background: #ccc;
			border-color: #000;
		}

		&.expensive {
			border-color: red;
			color: red;

			&:hover {
				background: transparent;
			}
		}
	}
}
