html, body {
	height: 100%;
}

#menu {
	float: left;
	width: 200px;
	height: 100%;
	position: relative;
}

#content {
	float: left;
}

#timer {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 90px;
	font-family: monospace;
	text-align: center;
	padding: 15px;
}

#info {
	margin-top: 25px;
	padding: 10px 10px 0;
	border-top: 1px solid #ccc;

	h4, p {
		margin-bottom: 5px;
	}

	li a {
		display: block;
		border: 1px solid #ccc;
		margin-bottom: 5px;
		padding: 5px;
	}
}
