#state {
	&, li {
		display: inline;
	}

	.gold::before {
		content: "Gold: ";
	}
}

.cost {
	&::before {
		content: '(';
	}
	&::after {
		content: ')';
	}
}

.expensive {
	color: red;
	cursor: not-allowed;
}
