#map {
	font-size: 0;

	.row {
		@include clearfix;
	}
}

.tile {
	$size: 64px;

	display: inline-block;
	width: $size;
	height: $size;
	background: transparent url(static/sprites.png) no-repeat;

	&.dirt {
		background-position: (-64px*0) (-64px*1);
	}

	&.grass {
		background-position: (-64px*0) (-64px*2);
	}

	&.grasser {
		background-position: (-64px*1) (-64px*2);
	}

	&.lumbermill {
		background-position: (-64px*2) (-64px*2);
	}

	&.fire {
		background: #f00;
	}

	&.sapling {
	}

	&.tree {
		background-position: -(64px*1) 0px;
	}

	&.treeer {
		background-position: -(64px*2) 0px;
	}

	&.stump {
		background-position: -(64px*3) 0px;
	}

	&.error {
		background: #f0f;
	}

	&:focus {
		outline: 2px dashed #f0f;
		position: relative;
		z-index: 10;
	}
}
